@import "../color.scss";

.createitem-container {
  display: flex;
  -webkit-box-pack: justify;
  width: inherit;
  align-items: center;
  height: 65px;
  background-color: $header-background-color;
  color: $font-color;
  font-size: 30px;
  justify-content: space-between;
  .createitem-icon {
    margin: 0 12px;
    color: $icon-color;
    display: flex;
  }
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}

.save {
  border: none;
  font-size: 18px;
  background-color: $header-background-color;
}
